code{
    white-space: pre;
  }
  pre:not([class]) {
    background-color: white;
  }
  h1 {
  font-size: 34px;
  }
  h1.title {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  .table th:not([align]) {
    text-align: left;
  }
  .main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  code {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.04);
  }
  img {
    max-width:100%;
    height: auto;
  }
  .tabbed-pane {
    padding-top: 12px;
  }
  button.code-folding-btn:focus {
    outline: none;
  }
  ol {
    list-style-type: decimal
  }
